body{
  background-image: url(./img/stars1.png), url(./img/starfield.jpg);
  background-repeat: repeat, repeat;
  background-size: 150%, 50%;
  opacity: 0.5, 1;
  animation: none, stars 60s ease infinite;
}

@keyframes stars{
  0%{
    background-position: 0% 0%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 0%;
  }
}

h1{
  text-align: center;
  font-weight: bold;
}

h2{
  text-align: center;
}

h5{
  color: #8abdae;
}

.jumbotron{
  font-family: 'Raleway', sans-serif;
  box-shadow: 0 0 8px 8px	#0a121f inset;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #20214f;
  color: white;
}

.btn{
  border: 3px solid #7952b3;
  color: white;
}

.btn:hover{
  background-color: #7952b3;
  color: #f0f0f0;
}

.planet{
  border: 2px solid #3458eb;
  text-align: center;
  padding: 10px;
  margin: 5px;
  background-position: center;
}

.planetImage{
  width: 175x;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
}

#inputFields{
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 15px 15px;
}

#outputField{
  display: none;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 15px 15px;
}

#planetAges{
  display: flex;
  flex-wrap: wrap;
}

#expectedLife, #lifeYears{
  font-weight: bold;
}

#earthImage {
  background-image: url(../src/img/earth.gif);
}

#mercuryImage {
  background-image: url(../src/img/mercury.gif);
}

#venusImage {
  background-image: url(../src/img/venus.gif);
}

#marsImage {
  background-image: url(../src/img/mars.gif);
}

#jupiterImage {
  background-image: url(../src/img/jupiter.gif);
}